
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    background-image: url("./images/topography.svg"),
      linear-gradient(110deg, #f93d66, #6d47d9);    
    background-attachment: fixed;
  }